:root {
  --background-color: solid white;
  --text-color: solid black;
  --box-padding: 50px;
  --box-padding-radius: 10px;
}

.box {
  border: 1px solid black;
  border-radius: var(--box-padding-radius);
  padding: var(--box-padding);
}

.flex-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: flex-start;
}
@media (max-width: 375px) {
  .flex-box {
    flex-direction: column;
    /* width: 100%; */
    padding: var(--box-padding-small);
  }
}
table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: antiquewhite;
}
.thumbnail {
  height: 200px;
  width: 400px;
  filter: grayscale(90%);
}

section > ol:first-child > li:nth-child(even) {
  color: chartreuse;
}

input[type="text"] {
  border: 5px solid gold;
  border-radius: 10px;
  padding: 1px;
}
ol[test-id="ol1"] {
  color: brown;
  text-transform: uppercase;
}
